/*
/*/
!/nvim/
!/zsh/
!/karabiner/
/karabiner/automatic_backups
!/ghostty/
!/alacritty/
!README.md
!./starship.toml
*/*.DS_Store
/nvim/startuptime.log
/karabiner/automatic_backups/
.DS_Store
/nvim/lazy-lock.json
./zsh/.zsh_sessions/
