[user]
  email = wangsongiam@gmail.com
  name = wangsongiam

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[github]
  user = wangsongiam

[core]
  editor = nvim

[merge]
  log = true

[alias]
  co = checkout
  br = branch
