"*":
  "atom-html-preview":
    scrollToCursor: true
    triggerOnSave: true
  "atom-material-ui":
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      animations: false
      panelContrast: true
  "atom-ternjs":
    excludeLowerPriorityProviders: true
    inlineFnCompletionDocumentation: true
    snippetsFirst: true
    useSnippets: true
    useSnippetsAndFunction: true
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    consumeSuffix: false
  "autocomplete-python":
    showTooltips: true
    useKite: false
  "browser-plus":
    live: 400
  "color-picker":
    abbreviateValues: true
  "console-log": {}
  core:
    allowPendingPaneItems: false
    automaticallyUpdate: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "language-gfm"
      "vim-plus-autocomplete-emmet-compatibility"
      "vim-plus-autocomplete-emmet-compatibility"
      "vim-plus-autocomplete-emmet-compatibility"
      "tree-view"
      "Hydrogen"
      "pigments"
    ]
    packagesWithKeymapsDisabled: [
      "script"
      "language-javascript"
      "git-plus"
      "console-log"
      "open-terminal-here"
      "project-manager"
      "dash"
      "atom-html-preview"
      "markdown-writer"
      "emmet"
      "autocomplete-plus"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
    titleBar: "custom"
  "disable-keybindings": {}
  editor:
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
  emmet:
    useEmmetComments: true
  "exception-reporting":
    userId: "6678e98e-4b34-c899-1c6e-8274cdaafeef"
  fonts:
    fontFamily: "SK Modernist"
  gist:
    token: "cfac1025089ff4f63c9dfbbcaf7e4d0b17e10f4f"
  "gist-it":
    userToken: "4abc1a352ef146241b31d1f600ee21b22220a89d"
  "git-plus":
    general:
      _analyticsUserId: "0d241bcc-b403-4288-b04c-ec7adeb6b9b9"
  jshint:
    onlyConfig: true
    supportLintingJsx: true
  jslint:
    hideOnNoErrors: true
    useFoldModeAsDefault: true
    validateOnChange: true
  "language-babel":
    allowLocalOverride: true
    autoIndentJSX: true
  "language-elm":
    elmOraclePath: "/usr/local/bin/elm-oracle"
  linter: {}
  "linter-elm-make":
    elmMakeExecutablePath: "/usr/local/bin/elm-make"
  "linter-eslint":
    advancedLocalNodeModules: "/.eslintrc.json"
    eslintrcPath: "/Users/wangsong/.eslintrc"
    fixOnSave: true
    useGlobalEslint: true
  "linter-jshint":
    lintInlineJavaScript: true
  "linter-pep8": {}
  "linter-stylelint":
    useStandard: true
  "linter-xo":
    fixOnSave: true
  "markdown-writer":
    fileExtension: ".md"
    siteEngine: "jekyll"
    siteLocalDir: "/Users/wangsong/jekyll-gulp-sass-browser-sync"
    sitePostsDir: "_posts"
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
  "ocaml-merlin":
    completePartialPrefixes: true
  "one-light-ui":
    tabSizing: "Minimum"
  "open-terminal-here":
    command: "open -a TerminalTab.app \"$PWD\""
  pigments:
    markerType: "dot"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#00fdff"
    core: {}
    style: {}
  "project-manager": {}
  react:
    enabledForAllJavascriptFiles: true
  "reason-refmt":
    useLinter: true
  "relative-numbers": {}
  sound: {}
  "status-bar":
    isVisible: false
  stylefmt:
    formatOnSave: true
  "tree-view": {}
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    flashOnMoveToOccurrence: true
    hideTabBarOnMaximizePane: false
    highlightSearch: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    showHoverOnOperate: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 300
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    showIndentGuide: true
".coffee.jsx.source":
  editor:
    autoIndent: false
    tabLength: 4
".console.python.text":
  editor:
    showIndentGuide: true
".diff":
  editor:
    showIndentGuide: true
    showInvisibles: true
".js.jsx.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    softWrap: false
".js.source":
  editor:
    showIndentGuide: true
".pug.source":
  editor:
    showIndentGuide: true
".python.source":
  editor:
    showIndentGuide: true
