# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
'atom-text-editor:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'

# 'atom-text-editor[data-grammar="YOUR GRAMMAR HERE"]:not([mini])':
#     'tab': 'emmet:expand-abbreviation-with-tab'
'body':
  'ctrl-tab': 'unset!'
  'ctrl-shift-tab': 'unset!'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'



'.workspace':
  'cmd-ctrl-o': 'open-on-github:repository'
  'cmd-N': 'application:new-window'

  'ctrl-i': 'dash:shortcut'

  # 'cmd-h': 'pane:show-previous-item'
  'cmd-o': 'advanced-open-file:toggle'
  # 'cmd-l': 'pane:show-next-item'
  'cmd-L': 'console-log:add'


#####script
  'alt-N': 'script:run'
  'cmd-M': 'script:close-view'


####pane

  # 'alt-cmd-j': 'pane:split-down-and-copy-active-item'
  # 'alt-cmd-k': 'pane:split-up-and-copy-active-item'
  # 'alt-cmd-l': 'pane:split-right-and-copy-active-item'
  # 'alt-cmd-h': 'pane:split-left-and-copy-active-item'
  # 'alt-l': 'window:focus-pane-on-right'
  # 'alt-j': 'window:focus-pane-below'
  # 'alt-k': 'window:focus-pane-above'
  # 'alt-h': 'window:focus-pane-on-left'

  'alt-=': 'pane:increase-size'
  'alt--': 'pane:decrease-size'
  'alt-tab': 'window:focus-next-pane'
  # 'alt-shift-tab': 'pane:show-previous-item'
  # 'alt-cmd-l': 'window:focus-pane-on-right'
  # 'cmd-h': 'core:move-left'
  # 'cmd-l': 'core:move-right'
  # 'alt-j': 'core:move-down'
  # 'ctrl-h': 'core:move-left'
  # 'ctrl-l': 'core:move-right'
  # 'alt-h': 'editor:move-to-beginning-of-word'
  # 'alt-k': 'core:move-up'
  # 'alt-l': 'editor:move-to-end-of-word'
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'


  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-tab': 'pane:show-next-item'


  'ctrl-w': 'editor:select-word'


  # 'cmd-`': 'tree-view:toggle'





  'cmd-.': 'ask-stack:ask-question'


  'cmd-ctrl-p' :'git-plus:add-all-commit-and-push'


  'ctrl-`': 'open-terminal-here:open'


  # 'alt-enter': 'core:move-down'
  # 'alt-shift-enter': 'core:move-up'
  # 'cmd-shift-h': 'editor:select-to-first-character-of-line'
  # 'cmd-shift-l': 'editor:select-to-end-of-line'
  # 'alt-shift-h': 'editor:select-to-beginning-of-word'
  # 'alt-shift-l': 'editor:select-to-end-of-word'
  # 'cmd-j': 'editor:select-line'
  # 'ctrl-o': 'tree-view:toggle-focus'
  # 'ctrl-shift-h': 'editor:select-to-first-character-of-line'
  # 'ctrl-shift-l': 'editor:select-to-end-of-line'
  # 'ctrl-a': 'editor:move-to-end-of-line'
  # 'ctrl-i': 'editor:move-to-first-character-of-line'
  # 'cmd-j': 'core:select-down'
  # 'cmd-k': 'core:select-up'
  'ctrl-e': 'editor:move-to-end-of-line'

  #

  # 'alt-tab': 'pane:show-next-item'
  # 'alt-shift-tab': 'pane:show-previous-item'
  # 'cmd-k': 'editor:select-line'
  # 'cmd-j': 'editor:select-word'


'.workspace .editor:not(.mini)':
  # 'cmd-h': 'pane:show-previous-item'
  'ctrl-w': 'editor:select-word'
  'cmd-o': 'advanced-open-file:toggle'
  'cmd-ctrl-p' :'git-plus:add-all-commit-and-push'

  # 'alt-cmd-j': 'pane:split-down-and-copy-active-item'
  # 'alt-cmd-k': 'pane:split-up-and-copy-active-item'
  # 'alt-cmd-l': 'pane:split-right-and-copy-active-item'
  # 'alt-cmd-h': 'pane:split-left-and-copy-active-item'
  # 'alt-l': 'window:focus-pane-on-right'
  # 'alt-j': 'window:focus-pane-below'
  # 'alt-k': 'window:focus-pane-above'
  # 'alt-h': 'window:focus-pane-on-left'

  'alt-tab': 'pane:show-next-item'
  'alt-shift-tab': 'pane:show-previous-item'

  'cmd-N': 'script:run'
  'cmd-M': 'script:close-view'
  'cmd-.': 'ask-stack:ask-question'

  'alt-tab': 'window:focus-next-pane'

  # 'cmd-l': 'pane:show-next-item'
  # 'cmd-h': 'core:move-left'
  # 'cmd-l': 'core:move-right'
  # 'alt-h': 'editor:move-to-beginning-of-word'
  # 'alt-l': 'editor:move-to-end-of-word'
  # 'alt-j': 'core:move-down'
  # 'alt-k': 'core:move-up'
  # 'cmd-j': 'core:move-down'
  # 'cmd-k': 'core:move-up'
  'ctrl-k': 'core:move-up'
  # 'alt-shift-h': 'editor:select-to-beginning-of-word'
  # 'alt-shift-l': 'editor:select-to-end-of-word'
  # 'cmd-shift-h': 'editor:select-to-first-character-of-line'
  # 'cmd-shift-l': 'editor:select-to-end-of-line'
  'ctrl-h': 'core:move-left'
  'ctrl-l': 'core:move-right'
  # 'alt-enter': 'core:move-down'
  # 'alt-shift-enter': 'core:move-up'
  # 'ctrl-shift-j': 'corke:select-down'
  # 'ctrl-shift-k': 'core:select-up'

  # 'ctrl-shift-h': 'core:select-left'
  # 'ctrl-shift-l': 'core:select-right'
  # 'ctrl-cmd-h': 'core:backspace'



  # 'cmd-k': 'editor:select-line'
  # 'cmd-j': 'editor:select-word'

  # 'ctrl-shift-h': 'editor:select-to-first-character-of-line'
  # 'ctrl-shift-l': 'editor:select-to-end-of-line'

  # 'ctrl-a': 'editor:move-to-end-of-line'
  # 'ctrl-i': 'editor:move-to-first-character-of-line'


  'ctrl-e': 'editor:move-to-end-of-line'

 # 'ctrl-j': 'editor:select-line'
#  'ctrl-j'
 # 'ctrl-h'
 # 'ctrl-l'
 # 'ctrl-alt-h'
#  'ctrl-alt-l'
 # 'ctrl-shift-h'
 # 'ctrl-shift-l'
#  'alt-h'
#  'alt-l'
#'body'
#  'cmd-j': 'move-down'



  'cmd-L': 'console-log:add'

  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-`': 'open-terminal-here:open'
  'cmd-ctrl-o': 'open-on-github:repository'
  'cmd-N': 'application:new-window'
  'ctrl-i': 'dash:shortcut'





#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on OS X and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * https://atom.io/docs/latest/hacking-atom-debugging#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson
