/* * Your Stylesheet *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */
// html, html * {
//   background: rgba(0, 0, 0, 0) !important;
// }



// .theme-one-light-ui {
//   .tab-bar {
//     font-size: 10px; // smaller font size
//   }
//   .tab {
//     min-width: 10em; // larger minimum width
//     max-width: 16em; // smaller max width
//   }
// }




/*
 * Examples
 * (To see them, uncomment and save)
 */

// // style the background color of the tree view
// .tree-view {
//   // background-color: whitesmoke;
// }

// style the background and foreground colors on the atom-text-editor-element itself




// atom-text-editor::shadow .gutter {
//   // background-color: hsl(209, 30%, 28%);
// }


.atom-ternjs-type {
  z-index: 1;
}

.title-bar {
  display: none;
}

// // tool-bar
// atom-panel-container.header {
//   border-bottom: 1px solid @base-border-color;
//   -webkit-app-region: drag;
//   .tool-bar.tool-bar-top {
//     overflow-x: auto;
//     flex-wrap: nowrap;
//     margin-left: 77px;
//   }
// }

// atom-text-editor .gutter .line-number .absolute{
//   display: none
// }

.custom-decorations {
  display: none;
}
