snippet log "logging"
console.log($0)
endsnippet

snippet ar "arrow" 
=> $0
endsnippet

snippet fun
function $0
endsnippet

snippet im
import $1 from '$2'
$0
endsnippet

snippet me
module.exports = $0
endsnippet
