<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vero.gettingstarted.hotkeys</string>
	<key>category</key>
	<string>Getting Started</string>
	<key>connections</key>
	<dict>
		<key>04D92044-418A-4C8A-9A6C-DD939DE56990</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02C6DC5E-7069-4850-8176-317DFB0F1D84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>144BB561-9F71-42FA-B5BF-79DADABB66D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F08111D5-C4CB-40FF-9C4B-F9D366E313F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AC9AA36-14C5-4645-9259-CCE7A882521C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F5D3CB2-7A57-4413-B71E-B75F1C9BDB12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59AB188D-FBC8-4DF4-8FDC-C5AF8A5045EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5F69B54-81D9-4ED4-85C8-0F30185925E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F06D968-A68C-481E-83C0-7B45F509D2D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE597553-AFB7-4DD7-AB0A-4F3B3EDC1123</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7F060E2-327C-4197-B7E3-F41008BD70FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65CE3FC7-9B7F-4D79-B567-EB421CBB9C46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8A33E69-F9CC-4984-B916-BE3C7C1B767D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43CBD4C6-9A3A-4FB3-BA52-307318EF22E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C312F0EB-ACE0-43A3-95E9-8D71F2EF05F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD524057-61FC-45F4-A790-289AAD1BD813</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF8878FB-8BAE-4FCD-B607-A7159FCB12E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8055E25-8214-4D34-B315-F4EAE313DAC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1C5A346-6AA1-4C74-A97B-E598B67C4276</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02C6DC5E-7069-4850-8176-317DFB0F1D84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8741C78-CBFC-4EFE-BBF2-F7C35EAA3D9A</key>
		<array/>
		<key>E78DA18C-6532-4E46-B4CA-33B449ABF741</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E9433F2-FD46-4730-BA1A-A59E95A7DD6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB3BA66B-027E-4128-956C-2FC943D99D67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30FA38DC-1399-4351-9F4A-6D8C486A61FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vero Pepperrell</string>
	<key>description</key>
	<string>Learn how to use hotkeys to speed up your actions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hotkeys - Getting Started</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F06D968-A68C-481E-83C0-7B45F509D2D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>FE597553-AFB7-4DD7-AB0A-4F3B3EDC1123</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>8A7AE692-3D6A-4F49-981A-F4BFFA77CA4A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>43CBD4C6-9A3A-4FB3-BA52-307318EF22E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B8A33E69-F9CC-4984-B916-BE3C7C1B767D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Safari.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>65CE3FC7-9B7F-4D79-B567-EB421CBB9C46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A7F060E2-327C-4197-B7E3-F41008BD70FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BF26C313-02CD-4311-8CD2-8DA470C4220C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>144BB561-9F71-42FA-B5BF-79DADABB66D6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/GitHub Desktop.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F08111D5-C4CB-40FF-9C4B-F9D366E313F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C312F0EB-ACE0-43A3-95E9-8D71F2EF05F1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Visual Studio Code.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>CD524057-61FC-45F4-A790-289AAD1BD813</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iA Writer.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>2E9433F2-FD46-4730-BA1A-A59E95A7DD6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E78DA18C-6532-4E46-B4CA-33B449ABF741</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CF8878FB-8BAE-4FCD-B607-A7159FCB12E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Fluid Browser.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A8055E25-8214-4D34-B315-F4EAE313DAC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>04D92044-418A-4C8A-9A6C-DD939DE56990</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Atom Beta.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>02C6DC5E-7069-4850-8176-317DFB0F1D84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D1C5A346-6AA1-4C74-A97B-E598B67C4276</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome Canary.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A5F69B54-81D9-4ED4-85C8-0F30185925E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>59AB188D-FBC8-4DF4-8FDC-C5AF8A5045EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EB3BA66B-027E-4128-956C-2FC943D99D67</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTunes.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>30FA38DC-1399-4351-9F4A-6D8C486A61FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D8741C78-CBFC-4EFE-BBF2-F7C35EAA3D9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Dash.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>BA6D5B8E-7B73-4953-A432-1CC132748B2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3AC9AA36-14C5-4645-9259-CCE7A882521C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Reeder.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0F5D3CB2-7A57-4413-B71E-B75F1C9BDB12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Hyper.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>6D3822B1-BACC-47CC-80B1-96F30BC5173C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use hotkeys to launch actions by pressing a key combination. You can connect one or more actions to be performed.

Hotkeys are stripped on import, to ensure that they don't clash with your existing hotkeys, so double-click the object and set your own hotkey.

A hotkey needs to contain a modifier (Cmd, Ctrl or Alt) and a keyboard character at least, but your best bet is to use slightly less common combinations (e.g. two modifiers) to avoid clashing with default OS X hotkeys or other apps on your Mac.</string>
	<key>uidata</key>
	<dict>
		<key>02C6DC5E-7069-4850-8176-317DFB0F1D84</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>1330</integer>
		</dict>
		<key>04D92044-418A-4C8A-9A6C-DD939DE56990</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>1290</integer>
		</dict>
		<key>0F5D3CB2-7A57-4413-B71E-B75F1C9BDB12</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>2270</integer>
		</dict>
		<key>144BB561-9F71-42FA-B5BF-79DADABB66D6</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>2E9433F2-FD46-4730-BA1A-A59E95A7DD6D</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>30FA38DC-1399-4351-9F4A-6D8C486A61FA</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>1790</integer>
		</dict>
		<key>3AC9AA36-14C5-4645-9259-CCE7A882521C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>2270</integer>
		</dict>
		<key>43CBD4C6-9A3A-4FB3-BA52-307318EF22E8</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>59AB188D-FBC8-4DF4-8FDC-C5AF8A5045EE</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>1550</integer>
		</dict>
		<key>65CE3FC7-9B7F-4D79-B567-EB421CBB9C46</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>6D3822B1-BACC-47CC-80B1-96F30BC5173C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>2590</integer>
		</dict>
		<key>7F06D968-A68C-481E-83C0-7B45F509D2D1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8A7AE692-3D6A-4F49-981A-F4BFFA77CA4A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>6. This Open File action opens a specified file; your Documents folder in this case.</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>A5F69B54-81D9-4ED4-85C8-0F30185925E1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>1550</integer>
		</dict>
		<key>A7F060E2-327C-4197-B7E3-F41008BD70FD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>A8055E25-8214-4D34-B315-F4EAE313DAC8</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>1140</integer>
		</dict>
		<key>B8A33E69-F9CC-4984-B916-BE3C7C1B767D</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>BA6D5B8E-7B73-4953-A432-1CC132748B2C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>2030</integer>
		</dict>
		<key>BF26C313-02CD-4311-8CD2-8DA470C4220C</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>C312F0EB-ACE0-43A3-95E9-8D71F2EF05F1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>CD524057-61FC-45F4-A790-289AAD1BD813</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>CF8878FB-8BAE-4FCD-B607-A7159FCB12E3</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>1140</integer>
		</dict>
		<key>D1C5A346-6AA1-4C74-A97B-E598B67C4276</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>1330</integer>
		</dict>
		<key>D8741C78-CBFC-4EFE-BBF2-F7C35EAA3D9A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>2020</integer>
		</dict>
		<key>E78DA18C-6532-4E46-B4CA-33B449ABF741</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>1000</integer>
		</dict>
		<key>EB3BA66B-027E-4128-956C-2FC943D99D67</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>1. To add a hotkey, right-click the canvas and choose Triggers &gt; Hotkey.

2. Double-click the hotkey object to set or change your hotkey.

3. Connect your hotkey to the Action you want to use by hovering over the first object and dragging from the connector that appears to the right.</string>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>1790</integer>
		</dict>
		<key>F08111D5-C4CB-40FF-9C4B-F9D366E313F8</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>FE597553-AFB7-4DD7-AB0A-4F3B3EDC1123</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>4. Double-click and add the app(s)/file(s) you want to launch with your hotkey. You can search for them in Alfred and drag them in.</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
