<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A3PLW0PKhY8OOBgJnCWYHTtFFMJmZWxu3WNXjiW/zO1GnTkShovih0WbqfpsegZTG4yFqkQNU7/3NHNebFVw0+XJpAxo7Iyrpe7m19SmdyNndGZLm5bsusMcKKybAQQ57SJuG1leqJOYbvzDrwkV9jOY+2Jo2Y1rr5n/njexc65qfZgGSyj3VNdFbMfemxAF6Fl7ThTM</string>
	<key>email</key>
	<string>symmetry@CORE.com</string>
	<key>hash</key>
	<string>IFWObvPTL0wBztAXg4AhMSk/XHxeQ5sYkbK6s8hlQ/aVNjQlqNXA2F3Qn/gsX7S7Ew5FZMDtR6CZWBRkQaN6pvJFRUjVCep9ZhaAH/aRuoEMrG0pfoZ4BrE9Krcj16ivvBSlxjIgX7C2VVBshDDXa3wWSWPdy3CaD1YxWjP7qj01XJzCrgSA</string>
</dict>
</plist>
